
@media (min-width: 900px) {
  .home{
    margin: auto;
    padding: 100%;
    background: url("/../../assets/background/vrouw.jpg") no-repeat center center ;
    //-webkit-background-size: cover;
    //-moz-background-size: cover;
    //-o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    //height: 100px;
    //

  }

}
@media (max-width: 900px) {

}
