<div class="box">
  <div class="title"> Amu Cadeaubon </div>
  <div class="content" style="font-size: 1.3rem;" >
    <br/>

    Op zoek naar een verfijnd geschenk? De Amu cadeaubon is een culinair gebaar dat altijd in de smaak valt. Verkrijgbaar tijdens onze openingstijden, met een bedrag naar keuze. <br/>Stijlvol, persoonlijk en perfect voor elke gelegenheid.
    <br/>
    <br/>
  </div>

</div>
<div class="box">
  <div class="title">Reserveren</div>

  <div class="content">

<!--    <p>-->
<!--      Aangepaste openingsuren tijdens de Kerstvakantie-->
<!--    </p>-->

<!--    <ul>-->
<!--      <li>22 – 23 december geopend vanaf 18u.00</li>-->
<!--      <li>24 – 25 – 31 december enkel take away op bestelling</li>-->
<!--      <li>26 t.e.m. 30 december geopend vanaf 18u.00</li>-->
<!--      <li>2 – 3 januari geopend vanaf 18u.00</li>-->
<!--      <li>1 – 4 – 5 januari gesloten</li>-->
<!--    </ul>-->
<!--    <p>-->
<!--      Zaterdag 18 Januari is het <strong>Turnhout by Night</strong>, die avond werken wij in twee shift zodat u de Turnhout by Night wandeling kan combineren met een heerlijke culinaire ervaring.-->
<!--      16u.00  tot 18u.45-->
<!--      19u.00 tot …-->
<!--    </p>-->
    <br/>
    <p>
      Laat u onderdompelen in onze culinaire creaties. Beleef het moment aan de foodbar, in onze comfortabele loungezetels of aan een sfeervolle tafel.
    </p>


    <p>
      Openingsuren<br/>
    </p>
    <div style="text-align: left">
      <table style="margin-left: auto; margin-right: auto">
        <tr>
          <td>Maandag</td>
          <td>Lunch: 12u.</td>
          <td>Diner: 18u.</td>
        </tr>
        <tr>
          <td>Donderdag</td>
          <td></td>
          <td>Diner: 18u.</td>
        </tr>
        <tr>
          <td>Vrijdag</td>
          <td>Lunch: 12u.</td>
          <td>Diner: 18u.</td>
        </tr>
        <tr>
          <td>Zaterdag</td>
          <td></td>
          <td>Diner: 18u.</td>
        </tr>
        <tr>
          <td>Zondag</td>
          <td>Lunch: 12u.</td>
          <td>Diner: 17u30</td>
        </tr>
      </table>
    </div>
    <p>
      Dinsdag en Woensdag gesloten. <br/>
    </p>


    <p>
      Reserveren is aangeraden en kan via telefoon: 014/41.24.89 of 0486/32.05.21 <br/>of via Whatsapp: 0486/32.05.21<br/>of via email <strong>info@amu-turnhout.be</strong>
    </p>

    <p>
      Amu <br/>
      Patersstraat 79 - 81<br/>
      2300 Turnhout<br/>
      <br/>
      BTW: BE0785.889.842
    </p>
    <p>
      Ons culinair verhaal is tot in de puntjes uitgewerkt en laat daardoor geen wijzigingen of aanpassingen toe tijdens de service. <br/>
      Heb je een <strong>levensbedreigende allergie </strong>(bijv. schaaldieren, schelpdieren, noten…) of ben je <strong>vegetarisch</strong>, gelieve dit <strong>duidelijk te vermelden bij je reservatie</strong>. Alleen zo kunnen we de nodige aanpassingen garanderen.
      <br/>
      <strong>Indien dit niet vooraf werd gemeld, zijn we genoodzaakt het menu te beperken tot maximum 5 gerechten.</strong>
      Onze menu wordt dagelijks samengesteld, met nadruk op de beste producten van het moment , en kan daarom dagelijks variëren.
    </p>

    <p>
      Wenst u graag te reserveren aan de bar, in onze lounge of aan een tafel geef dit alvast door bij uw
      reservatie zodat we indien mogelijk uw plaats kunnen garanderen.
    </p>

    <!--    <ng-image-slider [images]="imageObject" #nav></ng-image-slider>-->

  </div>


</div>

<app-parking></app-parking>





