<div class="kaartitem">

  <p class="item">
    <span class="wijn_chateau"*ngIf="wijn.chateau">{{wijn.chateau}}<br/></span>
    <span class="wijn_druiven" *ngIf="wijn.druiven">{{wijn.druiven}}<br/></span>
    <span class="wijn_oorsprong"*ngIf="wijn.oorsprong">{{wijn.oorsprong}}<br/></span>
    <span class="wijn_smaak" *ngIf="wijn.omschrijving">{{wijn.omschrijving}}<br/></span>
  </p>

  <p class="prijs">
    <span class="drank_prijs_fles"*ngIf="wijn.fles">{{wijn.fles.prijs  | currency:'EUR'}} &nbsp; {{wijn.fles.volume}}<br/></span>
    <span class="drank_prijs_glas" *ngIf="wijn.glas ">{{wijn.glas.prijs  | currency:'EUR'}} / glas <br/></span>
  </p>

</div>
